#con {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.grid-item {
  background-color: lightgrey;
  border: 1px solid #ddd;
  flex: 1 0 calc(100% / 16); /* Grow, shrink, and basis settings to create the 16 columns */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}